<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SecureME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Files_Controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SecureME.Properties.Settings>
            <setting name="PATH_FILES_STR_SETTINGS" serializeAs="String">
                <value/>
            </setting>
            <setting name="IS_LOCKED_SETTINGS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USERNAME_FIELD_SETTINGS" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="PASSWORD_FIELD_SETTINGS" serializeAs="String">
                <value/>
            </setting>
            <setting name="IS_HIDDEN_SETTINGS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOVED_IT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOVED_IT_STR" serializeAs="String">
                <value>Liked it? Send us a react then!</value>
            </setting>
            <setting name="IS_MESSAGE_SENT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PATH_FOLDERS_STR_SETTINGS" serializeAs="String">
                <value/>
            </setting>
        </SecureME.Properties.Settings>
        <Files_Controller.Properties.Settings>
            <setting name="Username_txt_set" serializeAs="String">
                <value>Set Your Own Username</value>
            </setting>
        </Files_Controller.Properties.Settings>
    </userSettings>
</configuration>
